.main-container{
    background-image: url('../images/fondoWomabot.png');
    height: 100vh;
    width: 100vw;
}

.classTitle{
    padding-top: 1em;
    text-align: center;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}