

.main-container{
    background-image: url('../images/fondoWomabot.png');
    width: 100vw;
    height: 100vh;
}

.classTitle{
    text-align: center;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botonChat{
    margin-left: auto;
    margin-right: auto;
}

.card-dis{
    width: 600px;
    height: 20px;
    padding: 1em 1em;
    font-size: 1em;
    color: rgb(109, 28, 48);
    background-color: rgb(226, 218, 220);
    box-shadow: 10px 10px 5px 0px rgba(117,22,65,0.56);
    border-radius: 9px 9px 9px 9px;
}