.container-menu{
    background-image: url('../images/WBBGIM.png');
    height: 100vh;
    width: 100vw;
}

.entrar{
    color: white;
}

.idiom{
    text-align: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}